<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Portfólio Marcos</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="/portfolio-marcos/portfolio-main/static/img/FB_IMG_1599673977569.jpg" alt="foto do marcos">
            <h1>Marcos Vinicius S Sousa</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/marcos-vinicius-de-sousa-silva-a200221b7/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/Marcos436">
                    <i class="bi bi-github"></i>
                </a>
                <!--
                <a target="_blank" href="">
                    <i class="bi bi-youtube"></i>
                </a>
                -->
                <!--
                <a target="_blank" href="">
                    <i class="bi bi-instagram"></i>
                </a>
                -->
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Marcos Vinicius De Sousa Silva</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor back-end </span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Eu acredito no poder da educação como um agente transformador de
                        realidades, isso porque eu tive a oportunidade de me formar no curso superior de Analise Desenvolvimento, isso
                        mudou a minha realidade social e econômica, me gerando recursos para estudar ainda mais.
                        me tornando web fullstack em diversas linguagens. Amo o que faço, essa é minha
                        vocação,
                        ser um eterno aprendiz, influenciar os novos sonhadores e motivar pessoas!</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="/portfolio-marcos/portfolio-main/static/img/marcos.png" alt="Foto do marcos" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Desenvolvedor Back-end </h3>
                    <p>Atualmente Trabalho na sustentação e evolução do Sistema de Fiscalização Sifama da Agência Nacional de Transporte terrestre</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    birth date: <span class="fw-lighter">03 de novembro de
                                        1996</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">26 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Ceilandia</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Brasília-DF</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Viajar</span></li>
                                <li class="list-group-item">Site: <a href="https://thicode.netlify.app/" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark"></a></li>
                                <li class="list-group-item">Trabalho: <a href="https://blueedtech.com.br/"
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">Websis -ANTT</a></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter"> +1
                                        ano</span></li>

                            </ul>
                        </div>
                    </div>

                    <p>Também faço parte de uma startup na criação de um software para criptografar os endereçoes de entregas das fabricas de cervejarias</p>

                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas,
                    a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                data-anime="left" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;"
                                aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="20">20%</div>
                        </div>
                        <p class="mt-3 mb-0">C#</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="30">30%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="60">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">.NET</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="40">40%</div>
                        </div>
                        <p class="mt-3 mb-0">Flutter</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 10%;"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">10%</div>
                        </div>
                        <p class="mt-3 mb-0">ionic</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 25%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="25">25%</div>
                        </div>
                        <p class="mt-3 mb-0">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="70">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Spring</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL SERVE</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="80">80%</div>
                        </div>
                        <p class="mt-3 mb-0">NoSQL</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                </div>

                <hr class='w-50 me-auto ms-auto'>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>

                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 99%;"
                                aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">99%</div>
                        </div>

                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Experiência</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Riachuelo: Vendedor de Eletrônicos.</h4>
                            <h5>2019 - 2021</h5>
                            <p><em>Lojas Riachuelo</em></p>
                            <li>Foco em vendas atendimento direto ao cliente .</li>
                            <li>vendas de smartfones.</li>
                            <li>operação de caixas.</li>
                            <li>vendas de planos controle : Vivo, Tim , Claro e Oi.</li>
                            <li>merchandising.</li>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Setemares: estoquista/vendedor.</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Setemares</em></p>
                            <li>Organização geral viabilizando a acessibilidade ao produto.</li>
                            <li>Contagem de produtos e homologação de Etiquetas.</li>
                            <li>Verificação de peças danificadas e impossibilitadas para venda.</li>
                            
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Maximum: Vendedor de calçados.</h4>
                            <h5>2017 - 2018</h5>
                            <p><em>Lojas Maximum</em></p>
                            <li>foco em vendas atendimento direto ao cliente.</li>
                            <li>merchandising.</li>
                            <li>RH - cadastramento de novos clientes ao crediário. </li>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Exercito: 3 SARGENTO</h4>
                            <h5>2014 - 2017</h5>
                            <p><em>Exercito Brasileiro</em></p>
                            <li>GLO - garantia da lei e da ordem olimpíadas 2016.</li>
                            <li>Comandante da guarda/ Sentinela externa e interna ao quartel.</li>
                            <li>chefe de seção de material bélicos.</li>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Websis: DESENVOLVEDOR back-end </h4>
                            <h5>2021 - atual</h5>
                            <p><em>Websis Tecnologia e Sistemas</em></p>
                            <li>Desenvolvedor sustentação com ASP.NET MVC</li>
                            <li>Desenvolvedor evolução com ASP.NET MVC</li>
                           
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

    <section class="container mt-5" id='sobre'>
        <div class="row w-100">
            <div class="col-md-12" data-anime="down">
                <h2 class='pt-3'>CERTIFICAÇÃO</h2>
                <p>Scrum Foundation Professional Certificate SFPC (v2020) - Portuguese</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <img class="img-fluid shadow" src="/portfolio-marcos/portfolio-main/static/img/certf.png" alt="Foto do Thiago" data-anime="left">
            </div>
            <div class="col-md-8" data-anime="right">
                <h3>Scrum Foundation Professional Certificate</h3>
                <p>O Exame Scrum Foundation é baseado no The Scrum Guide™ - The Definitive Guide to Scrum: The Rules of the Game, desenvolvido e sustentado pelos fundadores do Scrum – 
                    Ken Schwaber e Jeff Sutherland. Ele contém a definição de Scrum, incluindo papéis, eventos, artefatos e as regras que os unem.</p>
                    Clique no link para fazer o <b>DOWLOAD</b> do Certificado    <a href="/portfolio-marcos/portfolio-main/static/pdf/certf.pdf" target='_blank'
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
            </div>
        </div>
 

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class='pt-3 pb-3'>Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Brasilia -DF</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>markvini055@gmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245795.96135412538!2d-48.07744648228658!3d-15.721386971161099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3d18df9ae275%3A0x738470e469754a24!2zQnJhc8OtbGlhLCBERg!5e0!3m2!1spt-BR!2sbr!4v1669187828683!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                class='w-100'></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Envia
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>


        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Marcos Vinicius De Sousa Silva</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>